<div class="mx-3 my-3">
    <form>
        <div class="form-group">
          <label for="formControlInput1">Номер нового счёта</label>
          <input class="form-control" [ngClass]="{'is-invalid' : numCheck}" id="formControlInput1" #formControlInput1>
        </div>
        <div class="form-group">
            <label for="formControlInput1">Баланс нового счёта</label>
            <input class="form-control" [ngClass]="{'is-invalid' : balCheck}" id="formControlInput2" #formControlInput2>
        </div>
        <div class="form-group">
          <label for="formControlSelect1">Способ оплаты</label>
          <select class="form-control" id="formControlSelect1" #formControlSelect1>
            <option>Кредитная карта</option>
            <option>Дебетовая карта</option>
            <option>Электронный чек</option>
          </select>
        </div>
    </form>
</div>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mx-3 my-1 button-weight" (click)="saveAccount(formControlInput1, formControlInput2, formControlSelect1)">Сохранить</button>
</div>

<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary mx-3 my-1 button-weight" (click)="goToMain()">Закрыть</button>
</div>
